# Environment Variables
.env
.env.local
.env.*.local

# Firebase Config if hardcoded
# src/firebase.js

# Node modules
node_modules/

# Build folders
dist/
build/

# Firebase tools
.firebase/
.firebaserc

# Vite
.vite/

# Logs
*.log
*.lock

# OS
.DS_Store
Thumbs.db
